        
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma,Verdana, sans-serif;
}
h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
   
}

section{
    width: 93%;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600;
    background-color: silver;
    border: 2px solid black;
    
}
.row{
    width: 100%;
}
h4{
    text-align: center;
    float: right;
    padding-top: 2px;
    height: 27px;
    width: 100px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    
}
#s1 h4{
    background-color: lightcoral;
}
#s2 h4{
    background-color: brown;
    color: whitesmoke;
}
#s3 h4{
    background-color: burlywood;
}
p{
    clear: right;
    padding: 10px;
}
                   /* For Desktop */
@media (min-width: 992px) {
    
    .col-dk-4{
        float: left;
        width: 33.33%;
    }
}
                    /* For Tablet */
@media (min-width: 768px) and (max-width: 991px) {
    
    .col-tb-6{
        float: left;
        width: 50%;
    }
    .col-tb-12{
        float: left;
        width: 100%;
    }
}
                   /* For Desktop */
@media (max-width: 767px) {
    
    .col-mb-12{
        float: left;
        width: 100%;
    }
}